/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes move {
  0% {
    inset-inline-end: 95px;
  }
  100% {
    inset-inline-end: 91px;
  }
}

.main {
  fill: transparent;
  transition: 0.1s linear;
}

.body {
  fill: transparent;
  transition: 0.1s linear;
}

.contour {
  transition: 0.1s linear;
}

.stars {
  opacity: 0;
}

.like-icon:hover .main {
  fill: var(--main-color);
  transition: 0.1s linear;
}

.like-icon:hover .body {
  fill: var(--main-color);
  transition: 0.1s linear;
}

.like-icon:active .main {
  fill: var(--red-color);
  transition: 0.1s linear;
}

.like-icon:active .body {
  fill: var(--red-color);
  transition: 0.1s linear;
}

.like-icon.is-liked .main,
.like-icon.is-liked .body,
.like-icon.is-liked .contour {
  fill: var(--red-color);
}

.like-icon.is-liked .heart {
  animation: object 0.1s ease-in alternate;
  transform-origin: center;
}

.like-icon.is-liked .stars {
  animation: stars 0.1s ease-in alternate;
}

.like-icon.is-liked:active .contour {
  fill: var(--main-color);
  transition: 0.1s linear;
}

@keyframes object {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes stars {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
