/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 51px;
  width: 100%;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: url(/images/cover-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font), sans-serif;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  margin-top: 100px;
  background-color: var(--back-color);
  border: 2px solid var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1.375rem, 1.155rem + 0.939vw, 2rem);
}

.title {
  margin-top: clamp(7.5rem, 6.95rem + 2.347vw, 9.063rem);
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  line-height: 49px;
}

.subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  margin-left: 21px;
}

.theme-menu__button {
  text-transform: uppercase;
  font-size: 14px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  opacity: 0.6;
  animation: move 0.5s ease-in-out infinite alternate;
  inset-inline-end: 95px;
}

.header__theme-menu {
  margin-bottom: 25px;
}

.card {
  background-color: var(--back-color);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
  border-top: none;
}

.title-card {
  display: flex;
  flex-direction: column;
  font-family: var(--font-card);
  font-size: 18px;
  font-weight: 785;
  line-height: 22px;
  letter-spacing: 0.4px;
  padding: 4px 10px 2px 10px;
  border-top: 2px solid var(--main-color);
  border-bottom: none;
}

.title-card span {
  letter-spacing: 0.58px;
}

.wrapper-image {
  position: relative;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.image-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--main-color);
  font-size: 14px;
  text-shadow: -1px 0 var(--main-color), 0 1px var(--main-color),
    1px 0 var(--main-color), 0 -1px var(--main-color);
  mix-blend-mode: hard-light;
  inset-block-start: clamp(1.438rem, 1.291rem + 0.623vw, 1.563rem);
  inset-inline-end: clamp(0.688rem, -0.335rem + 4.361vw, 1.563rem);
}

.content-block {
  display: flex;
  flex-direction: column;
  margin: 25px 30.85px 23px 25px;
  font-family: var(--font-card);
  font-size: 18px;
  font-weight: 465;
  line-height: 21px;
  letter-spacing: 0em;
  gap: 29px;
}

.button {
  display: flex;
  margin: 0 25px 25px 0;
  justify-content: end;
  align-items: end;
  gap: 3px;
}

.card__icon-button {
  border: 2px solid transparent;
  height: 38px;
  padding: 0;
}

.card__like-button {
  align-self: flex-end;
  border: 2px solid var(--main-color);
  padding: 11px 35px;
  font-size: 14px;
  position: relative;
}

.disket {
  display: block;
  width: 28px;
  color: var(--main-color);
}

.save {
  min-height: 84px;
  margin: 49px 33px 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: var(--back-color);
  border: 2px solid var(--main-color);
  gap: 8px;
}

.button__text {
  font-size: 14px;
  margin-bottom: 15px;
}

.dialog[open] {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  gap: 28px;
  transform: translate(-50%, -50%);
  background-color: var(--back-color);
  border: 2px solid var(--main-color);
  padding: 33px 39px;
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 /0.75);
}

.save-block {
  display: flex;
  gap: 20px;
}

.save-block .disket {
  width: 40px;
}

.save-text {
  width: 200px;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--main-color);
}

.save-button {
  color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 9px 17px;
}

@media (768px <= width) {
  main {
    width: 49%;
    margin-top: 96px;
  }

  .header {
    width: 49%;
  }

  .title-card {
    flex-direction: row;
    padding-left: 14px;
  }

  .content-block {
    margin-top: 20px;
  }

  .save {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    min-height: 53px;
  }

  .button__text {
    margin-bottom: 0;
  }

  .dialog {
    padding: 28px 35px;
  }

  .save-button {
    padding: 9px 126px;
  }
}
