/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-color: #00cc14;
  --back-color: black;
  --button-text: #00cc14;
  --wght-text: 465;
  --wght-title: 785;
  --bg-color-1: #000;
  --bg-color-2: #007f0c;
  --bg-color-3: #004306;
  --main-font: "PressStart2P", fantasy;
  --font-card: "Inter", sans-serif;
  --red-color: red;
}
