/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-color: #00cc14;
  --back-color: black;
  --button-text: #00cc14;
  --main-font: "PressStart2P", fantasy;
  --font-card: "Inter", sans-serif;
  --red-color: red;
}
